* {
	box-sizing: 
	border-box;
}
body {
	font-family: Verdana, sans-serif;
}
.container {
	width: 100%;
}
/* Definitions of slides shows */
.container_one { 
	position: relative; 
	top: 50px; 
	width: 80%; margin: 0 auto; 
	z-index: -1;
} 
/* Slideshow container 
.slideshow { text-align: center; padding: 50px;}*/
.mySlides {display: none; 
	padding-top: 50px; 
	padding-left: 35px;
}
.mySlidesImage { 
	height: 500px; 
	width: 1180px; 
	border-radius: 15px;
}
.mySlidesImage-description { 
	display: none;
}
/*.mySlidesImage-description-text{ padding: 8px 12px; text-align: left; margin-left: 150px;}*/
.mySlidesImage-dot { 
	height: 15px; 
	width: 15px; 
	margin: 0 2px; 
	background-color: #bbb; 
	border-radius: 50%; 
	display: inline-block; 
	transition: background-color 0.6s ease;
}
.active_image { 
	background-color: #FF6D00; 
}
/* Fading animation */
.fade { -webkit-animation-name: fade; -webkit-animation-duration: 1.5s; animation-name: fade; animation-duration: 1.5s; }

@-webkit-keyframes fade { from {opacity: .4} to {opacity: 1} }

@keyframes fade { from {opacity: .4} to {opacity: 1} }

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) { .text {font-size: 11px} }

/************************************************************************************************************************************************************************************/
/* Align the div kiese_cotacao in Div container_two */
.container_two { 
	width: 80%; 
	margin: 0 auto;
} 
/* Align the content in Div kiese_cotacao */
.kiese_cotacao { 
	width: 100%; 
	display: inline-block; 
	margin:0;
}
/* Div kiese */
.kiese { 
	float: left;
	margin-left: 20px;
}
/* Div widget-cotacao */
.cotacao {
	float: right; 
	margin-right: 20px; 
}
/* Tag <p> com id = kiese_titulo */
#kiese_titulo { 
	text-align: left; 
	font-size: 2.5em; 
	color: #FF6D00; 
	font-weight: bold; 
	text-shadow: 5px 5px 5px rgba(0, 0, 0, 1.7);
}
/* Tag <p> com id = definicao */
#kiese_definicao {
	font-size: 1.2em; 
	color: #757575; 
	text-align: left; 
	font-weight: bold; 
}
/* Input do formulário form_cotacao */
.form_cotacao input {
	font-size: 1.1em;
	color: #757575; 
	width: 300px;
	height: 50px; 
	border: 2px solid #FF6D00; 
	box-shadow: 2px 2px 2px rgba(0,0,0,0.7); 
	padding: 2px 5px; 
	border-radius: 15px;
}
/* Botao para enviar os dados de cotacao ao servidos */
#cotacao_btn { 
	width: 100px; 
	height: 50px; 
	border-radius: 15px; 
	border: 2px solid #757575; 
	background-color: #FF6D00; 
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 0 3px #3775B3;
}
/* Botao para enviar os dados de cotacao ao servidos */
#cotacao_btn:hover { 
	background-color: #757575; 
	color: #FFF; 
	text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.9);
}
/* Formularios para inserir os dados para cotacao */
.form_cotacao p { 
	font-size: 2.5em; 
	color: #757575; 
	font-weight: bold; 
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 1.3);
}
/* Code reference at autocomplete of input marca_modelo */
#response ul { 
	font-size: 1.3em; 
	color: #757575; 
	font-family: Luminari, fantasy; 
	width: 300px;float: left; 
	list-style: none; 
	padding: 0px;
	margin-top: 0px;
}
#response li:hover {
	color: #E65100; 
	font-weight: bold; 
	background-color: #BDBDBD; 
	border-radius: 10px;
}
#response li { 
	padding-top: 10px; 
	padding-bottom: 10px;  
	cursor: pointer;}
#response { 
	overflow: scroll; 
	overflow-y: auto; 
	overflow-x: hidden;  
	width: 310px; 
	height: 150px;
}

